<header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to "PatuI", '#', id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "ホーム",   root_path %></li>
            <li><%= link_to "商品",   product_path %></li>
            <li><%= link_to "お知らせ", news_path %></li>
            <li><%= link_to "アンケート",  questionnaire_path %></li>
            <li><%= link_to "ログイン", '#' %></li>
          </ul>
        </nav>
      </div>
</header>